<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Dodaj lekarza</title>
</head>
<body>
<form class="was-validated" th:action="@{/saveLekarz}" th:object="${lekarz}" method="post" style="width: 300px;margin: auto">

    <div class="form-group">
        <label for="name">Imie</label>
        <input type="text" class="form-control" id="name" placeholder="Imie" th:field="*{imie}" required>
        <small id="imieHelp" class="form-text text-muted">
            Imie lekarza
        </small>
        <div class="invalid-feedback">Podaj imie</div>
    </div>

    <div class="form-group">
        <label for="price">Nazwisko</label>
        <input type="text" class="form-control" id="price" placeholder="Nazwisko" th:field="*{nazwisko}" required>
        <small id="nazwiskoHelp" class="form-text text-muted">
            Nazwisko lekarza
        </small>
        <div class="invalid-feedback">Podaj nazwisko</div>
    </div>

    <div class="form-group">
        <label for="price">Numer licencji</label>
        <input type="text" class="form-control" id="licenceNo" placeholder="Numer licencji" th:field="*{numerLicencji}" required>
        <small id="licencjaHelp" class="form-text text-muted">
            Numer licencji
        </small>
        <div class="invalid-feedback">Podaj numer licencji</div>
    </div>

    <div class="form-group">
        <label for="price">Specjalizacja</label>

        <select th:field="*{specjalizacja}" class="custom-select" required>
            <option value="">Kliknij by wybrać specjalizacje</option>
            <option th:each="specjalizacja : ${specjlaizacje}"
                    th:value="${specjalizacja.idSpecjalizacja}"
                    th:text="${specjalizacja.nazwa}">
            </option>

        </select>
        <small id="specjalizacjaHelp" class="form-text text-muted">
            Specjalizacja lekarza.
        </small>
        <div class="invalid-feedback">Wybierz specjalizacje</div>
    </div>

    <button type="submit" class="btn btn-primary">Dodaj</button>

</form>


</body>
</html>