<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Dodaj specjalizacje</title>
</head>
<body>
<form class="was-validated" th:action="@{/save}" th:object="${choroby}" method="post" style="width: 300px;margin: auto">

    <div class="form-group">
        <label for="nazwa">Nazwa choroby</label>
        <input type="text" class="form-control" id="nazwa" placeholder="Nazwa" th:field="*{nazwa}" required>
        <small id="NazwaHelp" class="form-text text-muted">
            Nazwa choroby
        </small>
        <div class="invalid-feedback">Podaj nazwe choroby</div>
    </div>

    <div class="form-group">
        <label for="dlugosc">Długość operacji</label>
        <input type="number" class="form-control" id="dlugosc" placeholder="Długość operacji"
               th:field="*{dlugosc_operacji}" required>
        <small id="dlugoscHelp" class="form-text text-muted">
            Długość operacji
        </small>
        <div class="invalid-feedback">Podaj długość operacji</div>
    </div>

    <div class="form-group">
        <label for="waga">Waga choroby</label>
        <input type="number" class="form-control" id="waga" placeholder="Waga choroby" th:field="*{waga_choroby}"
               required>
        <small id="wagaHelp" class="form-text text-muted">
            Waga choroby
        </small>
        <div class="invalid-feedback">Podaj wagę choroby</div>
    </div>

    <button type="submit" class="btn btn-primary">Dodaj</button>

</form>

</body>
</html>